@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    padding:0;
    margin:0;
}

.row {
    display:flex;
    text-align: center;
    height: 100vh;
    width:100%;
    background: linear-gradient(to left, #eee 50%, #BACAE3 50%);
    position: relative;
    overflow: hidden;
}

.column {
    flex: 50%;
}

.login-left, .login-right{
    padding-top:110px;
}

input[type='email'],
input[type='password'],
button {
    border: none;
    border-radius: 10px;
    padding: 0 2rem;
    height: 55px;
    width: 50%;
    outline:none;
    font-size: 18px;
}

.email , .password {
    padding-top: 20px;
    padding-bottom: 10px; 
}

.password{
    padding-bottom:20px;
}

.checkbox {
    font-size: 14px;
    padding-left: 200px;
}

.sign-in {
    padding-top: 30px;
}

button {
    background-color: #E2857E;
    color: white;
    cursor: pointer;
}

button:hover {background-color: #E2857E;}

button:active {
    background-color: #E2857E;
    box-shadow: 0 5px #eee;
    transform: translateY(4px);
}

.footer-logos {
    justify-content: center;
    display:flex;
    gap: 50px;
}

.footer-text {
    padding-top:10px;
}